@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");
* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: white;
}

#cssmenu {
  width: auto;
  display: block;
  text-align: center;
  font-family: Cormorant;
  line-height: 1.2;
}

#cssmenu ul {
  background-color: #78c7d2;
  width: auto;
  display: block;
  font-size: 0;
  text-align: center;
  color: #000000;
  width: 100%;
  border: transparent;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 999999990;
  border-radius: 0;
}

#cssmenu button {
  border-radius: 40px;
  background: #ffffff;
  border: 1px solid #94d694;
  padding: 15px;
  width: 180px;
  height: 60px;
  font-size: 20px;
}

#cssmenu button a {
  text-decoration: none;
  color: #94d694;
}

#cssmenu button i {
  color: white s;
  font-size: 24px;
  padding-left: 15px;
  padding-top: 5;
}

#cssmenu ul button i {
  color: #94d694;
}

#cssmenu li {
  display: inline-block;
  position: relative;
  font-size: 0;
  margin: 0;
  padding: 0;
}

/*Top level items
---------------------------------------*/
#cssmenu > ul > li > span,
#cssmenu > ul > li > a {
  font-size: 20px;
  color: inherit;
  text-decoration: none;
  margin: 0px 20px;
  padding-bottom: 5px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#cssmenu li:hover > span,
#cssmenu li:hover > a {
  border-bottom: 3px solid #94d694;
}

/*Sub level items
---------------------------------------*/
#cssmenu .dropdown {
  text-align: left;
  left: 0;
  font-family: inherit;
  color: #ffffff;
  background-color: #743347;
  border: none;
  position: absolute;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: none;
  opacity: 0;
  cursor: default;
}

#cssmenu .dropdown li {
  display: block;
}

#cssmenu .dropdown li > span,
#cssmenu .dropdown li > a,
#cssmenu .clm a,
#cssmenu .clm h3 {
  font-size: 18px;
  font-weight: 400;
  font-family: inherit;
  margin: 0;
  padding: 12px 20px;
  display: block;
  color: inherit;
  text-decoration: none;
}

#cssmenu .clm h3 {
  font-size: 20px;
  font-weight: 700;
}

#cssmenu .sub-item {
  background-color: #743347;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#cssmenu .dropdown li:hover > span,
#cssmenu .dropdown li:hover > a {
  color: #ffffff;
  background-color: #85384f;
}

#cssmenu .clm a:hover {
  color: #ffffff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#cssmenu .dropdown.right0 {
  left: auto;
  right: 0;
}

#cssmenu .dropdown li > .dropdown.right0 {
  left: auto;
  right: 100%;
}

#cssmenu li.full-width {
  position: static;
}

#cssmenu li.full-width .dropdown {
  width: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#cssmenu li:hover > .dropdown {
  display: block;
  opacity: 1;
  z-index: 1;
}

#cssmenu .dropdown li > .dropdown {
  left: 100%;
  right: auto;
  top: 0;
}

#cssmenu ul.dropdown {
  min-width: 220px;
  /* Sub level menu min width */
}

#cssmenu div.dropdown {
  text-align: center;
}

/* each column */
#cssmenu .clm {
  text-align: left;
  margin: 20px;
  vertical-align: top;
  /*or middle*/
  width: auto;
  min-width: 220px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

#cssmenu .clm a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/*-----------Arrows----------------*/
#cssmenu .arrow {
  color: inherit;
  border-style: solid;
  border-width: 2px 2px 0 0;
  padding: 4px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  margin-top: -8.5px;
  margin-left: 4px;
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  overflow: hidden;
  /*for IE6*/
}

#cssmenu .dropdown .arrow {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
  margin-top: -6px;
  position: relative;
  top: auto;
}

/*######## styles for mobile mode */
.menu-icon {
  display: none;
}

@media only screen and (max-width: 800px) {
  .menu-icon {
    display: inline-block;
  }
  #menuDemo {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(#e1e1e1), color-stop(#c3c3c3), color-stop(#a6a6a6), color-stop(#8a8a8a), color-stop(#757575), color-stop(#606060), color-stop(#4c4c4c), color-stop(#3a3a3a), color-stop(#282828), color-stop(#181818), to(#000000));
    background-image: linear-gradient(to bottom, #ffffff, #e1e1e1, #c3c3c3, #a6a6a6, #8a8a8a, #757575, #606060, #4c4c4c, #3a3a3a, #282828, #181818, #000000);
  }
  .menu-icon-wrapper {
    background-image: -webkit-gradient(linear, left bottom, right top, from(#ffffff), color-stop(#e1e1e1), color-stop(#c3c3c3), color-stop(#a6a6a6), color-stop(#8a8a8a), color-stop(#757575), color-stop(#606060), color-stop(#4c4c4c), color-stop(#3a3a3a), color-stop(#282828), color-stop(#181818), to(#000000));
    background-image: linear-gradient(to right top, #ffffff, #e1e1e1, #c3c3c3, #a6a6a6, #8a8a8a, #757575, #606060, #4c4c4c, #3a3a3a, #282828, #181818, #000000);
  }
  #cssmenu {
    width: 100%;
    max-width: 600px;
    display: none;
    background-color: #651d32;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 999999990;
  }
  #cssmenu > ul > li > span,
  #cssmenu > ul > li > a {
    font-size: 22px;
    color: inherit;
    text-decoration: none;
    padding: 20px 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    position: relative;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  :hover #cssmenu > ul > li > span,
  :hover #cssmenu > ul > li > a {
    color: burlywood;
    border-bottom: 0;
  }
  #cssmenu button {
    display: none;
  }
  /*--begin mark1--*/
  #cssmenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100% !important;
    right: -130%;
    left: auto;
    -webkit-box-shadow: -4px 0 18px rgba(0, 0, 0, 0.3);
            box-shadow: -4px 0 18px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 411ms cubic-bezier(0.7, 0, 1, 0.4);
    transition: all 411ms cubic-bezier(0.7, 0, 1, 0.4);
  }
  #cssmenu.active {
    right: 0;
    -webkit-transition: all 411ms cubic-bezier(0.16, 0.76, 0.45, 1);
    transition: all 411ms cubic-bezier(0.16, 0.76, 0.45, 1);
  }
  #mcmenu {
    z-index: 1000000004;
  }
  -fixed-bg {
    background: #000;
    z-index: 1000000000;
  }
  -fixed-bg.showing {
    display: block;
    opacity: 0;
  }
  -fixed-bg.active {
    opacity: 0.4;
  }
  .menu-icon.active {
    position: fixed;
    top: 12px;
    right: 12px;
    z-index: 1000000006;
  }
  /*--end mark1--*/
  #cssmenu ul {
    background-color: transparent;
    -webkit-transition: all 411ms ease;
    transition: all 411ms ease;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: none;
    border-radius: 0;
  }
  #cssmenu .mobileHide {
    display: none;
  }
  #cssmenu li {
    text-align: center;
    display: block;
    position: static;
  }
  #cssmenu > ul > li > span,
  #cssmenu > ul > li > a {
    font-size: 32px;
  }
}

/*----------- menu-icon ----------------*/
.menu-icon-wrapper {
  padding: 5px;
  text-align: right;
}

.menu-icon {
  padding: 9px;
  cursor: pointer;
  outline: none;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 0;
  position: relative;
}

.menu-icon.active {
  background-color: #000000;
}

.three-line {
  width: 22px;
  height: 20px;
  position: relative;
  display: inline-block;
  font-size: 0;
}

.three-line span {
  background-color: #ffffff;
  position: absolute;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.three-line span:nth-child(1) {
  top: 0;
}

.three-line span:nth-child(2) {
  top: 9px;
  visibility: visible;
}

.three-line span:nth-child(3) {
  bottom: 0;
}

.menu-icon.active .three-line span:nth-child(1) {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 9px;
}

.menu-icon.active .three-line span:nth-child(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  visibility: hidden;
}

.menu-icon.active .three-line span:nth-child(3) {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  top: 9px;
}

/*End of styles for mobile mode ########*/
@-webkit-keyframes topItemAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10vh, 0);
            transform: translate3d(0, 10vh, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
@keyframes topItemAnimation {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10vh, 0);
            transform: translate3d(0, 10vh, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

#cssmenu li a {
  -webkit-animation: none;
          animation: none;
}

#cssmenu.active li a {
  -webkit-animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.9s backwards;
          animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.9s backwards;
}

#cssmenu.active li:nth-of-type(1) a {
  -webkit-animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.15s backwards;
          animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.15s backwards;
}

#cssmenu.active li:nth-of-type(2) a {
  -webkit-animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.3s backwards;
          animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.3s backwards;
}

#cssmenu.active li:nth-of-type(3) a {
  -webkit-animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.45s backwards;
          animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.45s backwards;
}

#cssmenu.active li:nth-of-type(4) a {
  -webkit-animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.6s backwards;
          animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.6s backwards;
}

#cssmenu.active li:nth-of-type(5) a {
  -webkit-animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.75s backwards;
          animation: topItemAnimation 0.9s cubic-bezier(0.16, 0.84, 0.44, 1) 0.75s backwards;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  #cssmenu.active li a {
    -webkit-animation: none !important;
            animation: none !important;
  }
}

/*--Style the menu-icon--*/
.menu-icon {
  border-radius: 50%;
  margin-right: 12px;
}

.menu-icon.active {
  background-color: transparent;
}

#mcmenu .hasdd .top-item:before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  height: auto;
  background-color: rgba(255, 255, 255, 0.1);
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#mcmenu .hasdd .top-item:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.size {
  background-image: url(../pic/gim1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 690px;
  width: 55%;
  float: right;
  -webkit-clip-path: polygon(22% 0, 100% 0, 100% 100%, 9% 100%, 38% 71%, 21% 59%, 8% 33%);
          clip-path: polygon(22% 0, 100% 0, 100% 100%, 9% 100%, 38% 71%, 21% 59%, 8% 33%);
}

.heading {
  text-align: center;
  min-height: 690px;
}

.heading .inner {
  display: block;
  position: absolute;
}

.heading .inner .wrdsp {
  word-spacing: 10px;
  text-align: start;
  position: relative;
  top: 180px;
  left: 50px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  color: #333333;
  background-color: rgba(0, 0, 0, 0);
  color: #5c5c5c;
  font-family: "Arial Black", Gadget, sans-serif;
}

.heading .inner .para {
  font-family: "Roboto Slab", serif;
  color: #1b262c;
  text-align: start;
  position: relative;
  top: 200px;
  left: 80px;
  line-height: 30px;
  word-spacing: 3px;
}

.heading .inner .button_container1 {
  position: absolute;
  top: 400px;
  left: 50px;
}

.heading .inner .button_container1 body:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.heading .inner .button_container1 button {
  margin-right: 10px;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 45px;
  font-size: 1.3em;
  padding: 0 1em;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.heading .inner .button_container1 button:hover {
  background: #fff;
  color: #00b7d3;
}

.heading .inner .button_container1 button:before,
.heading .inner .button_container1 button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #00b7d3;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.heading .inner .button_container1 button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.heading .inner .button_container1 button:hover:before,
.heading .inner .button_container1 button:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

@media screen and (max-width: 1380px) {
  .heading .wrdsp h1 {
    font-size: 40px;
    width: 450px;
  }
}

@media screen and (max-width: 1285px) {
  .heading .wrdsp h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 1230px) {
  .size {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: 163%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrdsp h1 {
    color: #fff;
    font-size: 90px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 0%;
    margin: 0px;
  }
  .wrdsp h1 {
    font-size: 110px;
    margin: 0px;
  }
  .para p {
    color: #fff;
    margin-top: 100px;
    margin-left: 0px;
    line-height: 30px;
  }
  .heading .inner .button_container1 {
    padding: 0px;
    margin: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    top: 270px;
    left: 50px;
  }
}

@media screen and (max-width: 700px) {
  .size {
    background-image: url(../pic/gim1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 490px;
    width: 167%;
    float: right;
  }
  .heading {
    min-height: 490px;
    width: 20px;
  }
  .heading .inner .para {
    display: block;
    font-size: 13px;
    position: relative;
    top: 120px;
    left: 20px;
  }
  .heading .inner .wrdsp h1 {
    font-size: 18px;
    width: 120px;
    position: relative;
    top: 0px;
    left: 0px;
    text-align: start;
  }
  .heading .inner .button_container1 {
    position: relative;
    top: 150px;
    width: 200px;
    font-size: 7px;
  }
  .heading .inner .button_container1 button {
    height: 30px;
  }
}

.bg {
  background-color: #2a2d36;
  color: #fff;
  height: 600px;
}

.bg h1 {
  text-align: center;
  padding-top: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 46px;
  color: #fff;
}

.bg .flex {
  height: 400px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg .flex .sec1 {
  font-family: "Nunito", sans-serif;
}

.bg .flex .sec1 i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  margin-bottom: 30px;
  color: #cecece;
}

.bg .flex .sec1 h2 {
  font-size: 50px;
  margin-bottom: 15px;
  text-align: center;
}

.bg .flex .sec1 p {
  font-size: 25px;
  text-align: center;
  line-height: 45px;
}

.bg .flex .sec2 {
  font-family: "Nunito", sans-serif;
}

.bg .flex .sec2 i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 45px;
  margin-bottom: 30px;
  color: #cecece;
}

.bg .flex .sec2 h2 {
  font-size: 50px;
  margin-bottom: 15px;
  text-align: center;
}

.bg .flex .sec2 p {
  font-size: 25px;
  text-align: center;
  line-height: 45px;
}

.button_container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button_container2 body:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.button_container2 button {
  margin-right: 10px;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 45px;
  font-size: 1.3em;
  padding: 0 1em;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.button_container2 button:hover {
  background: #fff;
  color: #00b7d3;
}

.button_container2 button:before,
.button_container2 button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #00b7d3;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.button_container2 button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.button_container2 button:hover:before,
.button_container2 button:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

@media screen and (max-width: 1100px) {
  .bg h1 {
    font-size: 35px;
    padding-top: 20px;
    margin: 0px 0px 30px 0px;
  }
  .bg .flex .sec1 i {
    font-size: 30px;
  }
  .bg .flex .sec1 h2 {
    font-size: 35px;
  }
  .bg .flex .sec1 p {
    font-size: 20px;
  }
  .bg .flex .sec2 i {
    font-size: 30px;
  }
  .bg .flex .sec2 h2 {
    font-size: 35px;
  }
  .bg .flex .sec2 p {
    font-size: 20px;
  }
}

@media screen and (max-width: 900px) {
  .bg {
    height: 760px;
  }
  .bg h1 {
    font-size: 29px;
  }
  .bg .flex {
    display: -ms-grid;
    display: grid;
    grid-gap: 50px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .bg .button_container2 {
    margin-top: 200px;
  }
}

/*
.cont2 {
	display: grid;
	grid-gap: 30px;
	grid-template-columns: 1fr 1fr 1fr;

	.pic1 {
		img {
			height: 300px;
			width: 400px;
			background-size: cover;
			background-repeat: no-repeat;
			justify-content: center;
		}
	}
	.pic2 {
		img {
			//grid-row: 1/2;
			height: 400px;
			width: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			justify-content: center;
		}
	}
	.pic3 {
		img {
			height: 300px;
			width: 400px;
			background-size: cover;
			background-repeat: no-repeat;
			justify-content: center;
		}
	}
}
*/
.bog .head {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 46% 96%, 0 96%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 46% 96%, 0 96%);
  height: 300px;
  background-color: #ebf0f1;
}

.bog .head h2 {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  padding: 20px;
}

.bog .head p {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 25px;
  line-height: 40px;
}

.cont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Nunito", sans-serif;
  margin: 50px 0px;
}

.cont2 .main {
  padding: 0 20px 20px;
  min-height: 250px;
  width: 300px;
}

.cont2 .main img {
  min-height: 250px;
  width: 300px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.75);
}

.cont2 .main img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

figcaption {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont21 {
  min-height: 450px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(../pic/wmn2.jpg);
  background-position: center;
  background-size: cover;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  opacity: 0.7;
  font-family: "Montserrat", sans-serif;
}

.cont21 .material {
  text-align: center;
  width: 55%;
  display: block;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.cont21 .material h5 {
  color: #000;
  word-spacing: 3px;
  letter-spacing: 1px;
  padding: 70px 0 20px 0;
}

.cont21 .material h1 {
  color: #000;
  padding-bottom: 40px;
  font-size: 45px;
  letter-spacing: 3px;
}

.cont21 .material p {
  line-height: 23px;
  color: #000;
}

.cont21 .material p i {
  padding: 5px;
}

.cont21 .material h6 {
  color: #000;
  padding: 20px;
  font-size: 14px;
}

.cont3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  grid-row-gap: 4rem;
  margin: 40px 0px;
}

.cont3 .grdd {
  min-height: 250px;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-gap: 3rem;
  font-family: "Nunito", sans-serif;
}

.cont3 .grdd h4 {
  padding-bottom: 10px;
}

.cont3 .grdd h1 {
  padding-bottom: 10px;
}

.cont3 .grdd p {
  line-height: 27px;
}

.cont3 .grdd body:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.cont3 .grdd button {
  margin-right: 10px;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 45px;
  font-size: 1.3em;
  padding: 0 1em;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cont3 .grdd button:hover {
  background: #fff;
  color: #00b7d3;
}

.cont3 .grdd button:before,
.cont3 .grdd button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #00b7d3;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.cont3 .grdd button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.cont3 .grdd button:hover:before,
.cont3 .grdd button:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

.cont3 img {
  min-height: 250px;
  width: 80%;
  margin: auto;
  background-position: center;
  background-size: cover;
}

.meet {
  font-family: "Nunito", sans-serif;
  margin-top: 50px;
}

.meet h6 {
  font-size: 15px;
  padding-bottom: 10px;
}

.meet h2 {
  padding-bottom: 5px;
}

.meet p {
  font-size: 14px;
  line-height: 21px;
}

.meet body:before {
  content: "";
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.meet button {
  margin-right: 10px;
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 45px;
  font-size: 1.3em;
  padding: 0 1em;
  cursor: pointer;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
  outline: none;
  margin-top: 10px;
  margin-bottom: 10px;
}

.meet button:hover {
  background: #fff;
  color: #00b7d3;
}

.meet button:before,
.meet button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #00b7d3;
  -webkit-transition: 400ms ease all;
  transition: 400ms ease all;
}

.meet button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.meet button:hover:before,
.meet button:hover:after {
  width: 100%;
  -webkit-transition: 800ms ease all;
  transition: 800ms ease all;
}

@media screen and (max-width: 600px) {
  .cont2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cont2 .main {
    padding: 0 10px 10px;
    min-height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .cont2 .main figure img {
    min-height: 250px;
    width: 250px;
  }
}

@media screen and (max-width: 700px) {
  .cont21 .material {
    width: 100%;
  }
  .cont21 .material h5 {
    font-size: 13px;
  }
  .cont21 .material h1 {
    font-size: 22px;
    padding-bottom: 18px;
  }
  .cont21 .material p {
    font-size: 15px;
  }
  .cont21 .material h6 {
    font-size: 13px;
  }
}

@media screen and (max-width: 650px) {
  .cont3 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .cont3 .grd {
    width: 70%;
  }
  .cont3 .grdd {
    text-align: center;
  }
}

footer {
  background-color: #191c3c;
}

html {
  margin: 0px;
  padding: 0px;
}

.container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 40px 150px;
  background-color: #191c3c;
}

.container h4 {
  color: #fff;
  padding: 0 0 20px 25px;
  font-family: "Mulish", sans-serif;
  word-spacing: 5px;
  letter-spacing: 3px;
}

.container p {
  font-size: 40px;
  color: #fff;
  line-height: 2sem;
}

.container p span {
  background-color: #e8dcb2;
  font-size: 40px;
  font-weight: 5000;
  color: #000;
  padding-left: 20px;
  word-spacing: 2px;
}

.container .btn3 {
  padding: 30px 0 0 0;
}

.container .btn3 a {
  color: #f5dcc6;
  font-size: 25px;
  padding-bottom: 7px;
  text-decoration: none;
  border-bottom: 2px solid #f5dcc6;
}

.container .btn3 a:hover {
  color: #f0a666;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.container .btn3 i {
  padding-left: 20px;
  color: #fff;
}

.container2 {
  padding: 80px 150px;
  background-color: #191c3c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

.container2 .sec1 {
  padding-right: 100px;
  width: 25%;
  padding-top: 35px;
  line-height: 25px;
}

.container2 .sec1 P {
  font-size: 18px;
}

.container2 .sec1 .mail {
  font-size: 32px;
  padding-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.container2 .sec2 {
  padding-right: 70px;
  padding-top: 50px;
}

.container2 .sec2 ul li {
  list-style: none;
  padding-bottom: 20px;
}

.container2 .sec2 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.container2 .sec3 {
  padding-right: 70px;
  padding-top: 50px;
}

.container2 .sec3 ul li {
  list-style: none;
  padding-bottom: 20px;
}

.container2 .sec3 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.container2 .sec4 {
  padding-top: 50px;
}

.container2 .sec4 ul li {
  list-style: none;
  padding-bottom: 20px;
}

.container2 .sec4 ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.container2 .same {
  padding-top: 0px;
  font-size: 19px;
}

.logo {
  background-position: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
}

.logo img {
  height: 50%;
  width: 50%;
}

.bottom-footer {
  padding: 0px 100px;
  background-color: #191c3c;
  overflow: hidden;
}

.bottom-footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bottom-footer li {
  float: right;
  margin: 20px;
  color: #fff;
}

.bottom-footer li i {
  padding-right: 5px;
}

.fafa {
  background-color: #fff;
  list-style: none;
  border-radius: 2px;
  padding: 1px 6px;
}

.fafa i {
  color: #4cca4c;
  font-size: 17px;
}

.fafa p {
  color: #000;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 420px) {
  footer .container {
    padding: 0px;
  }
  footer .container2 {
    padding: 0px;
  }
}

#menuDemo {
  background-color: #78c7d2;
  padding: 30px 0px;
  margin: 0px;
  height: 20px;
}
/*# sourceMappingURL=web.css.map */